<h1><%= 'Login'[:login_title] %></h1>

<% form_tag session_path do -%>
<div id="password_fields"<%= %( style="display:none") unless cookies['use_open_id'].blank? %>>
<p>
  <label for="login"><%= I18n.t "site.general.login" %> or <%= link_to_function "#{I18n.t "site.sessions.new.login_with_OpenID"}", "LoginForm.setToOpenID()" %></label>
  <br />
  <%= text_field_tag :login, params[:login] %>
</p>

  <%= hidden_field_tag :to, params[:to] if params[:to] %>

<p>
  <label for="password"><%= I18n.t "site.general.password" %></label><br />
  <%= password_field_tag :password %>
</p>
</div>

<div id="openid_fields"<%= %( style="display:none") if cookies['use_open_id'].blank? %>>
<p>
  <label for="openid_url"><%= 'OpenID'[:open_id_directions] %>
  or <%= link_to_function "login with your password", "LoginForm.setToPassword()" %></label>
  <br />
  <%= text_field_tag :openid_url, params[:openid_url] %>
</p>
</div>

<p><label><%= check_box_tag "remember_me", "1", true %> <%= 'Remember me on this computer'[:remember_me] %></label></p>


<p><%= submit_tag I18n.t "site.general.login", :or => link_to_function((I18n.t "site.general.reset_password").to_s, "$('reset-password').toggle();") %></p>
<% end -%>

<% form_tag users_path, :id => 'reset-password', :style => 'display:none' do -%>

<hr />

<h5><%= I18n.t "site.general.reset_password" %></h5>

  <p><%= I18n.t "site.sessions.new.email_directions" %></p>
  <p><%= text_field_tag :email, "", :size => 30 %>
<br />
<%= submit_tag I18n.t "site.sessions.new.email_submit", :or => link_to_function((I18n.t "site.general.cancel").to_s, "$('reset-password').hide()") %></p>
<% end -%>

<%= javascript_tag "$('login').focus();"%>