<% content_for :right do %>

<h5><%= I18n.t "site.forums.index.What_is_Beast" %></h5>

<p>
  <%= I18n.t "site.forums.index.descriptin_beast" %>
</p>

<% if admin? %>
<h6><%= 'Admin'[:admin_title] %></h6>
<p><%= link_to "#{I18n.t "site.forums.index.create_new_forum"}", new_forum_path, :class => "utility" %></p>
<% end %>

<% end %>

<h1 style="margin-top:0;"><%= I18n.t "site.general.tile_plural" %></h1>
<p class="subtitle">
<%= feed_icon_tag "#{I18n.t "site.general.recent_post"}", formatted_all_posts_path(:format => 'rss') %>
<%= number_with_delimiter(Topic.count) + " " + "#{I18n.t "site.general.topics"}" %>, 
<%= number_with_delimiter(Post.count) + " " + "#{I18n.t "site.general.posts"}"%>, 
<%= number_with_delimiter(User.count) + " " + "#{I18n.t "site.general.voices"}" %>
  
</p>

<table border="0" cellspacing="0" cellpadding="0" class="wide forums">
  <tr>
    <th class="la" width="70%" colspan="3"><%= I18n.t "site.general.title" %></th>
<!--
    <th width="5%">Topics</th>
    <th width="5%">Posts</th>
-->
    <th class="la" width="30%" colspan="1"><%= I18n.t "site.forums.index.last_post" %></th>
  </tr>
<% for forum in @forums do %>  
  <tr>
    <td class="vat c1">
    
      <% if recent_forum_activity(forum) %>
      <%= image_tag "clearbits/comment.gif", :class => "icon green", :title => "#{I18n.t "site.forums.index.recent_activity"}" %>
      <% else %>
      <%= image_tag "clearbits/comment.gif", :class => "icon grey", :title => "#{I18n.t "site.forums.index.no_recent_activity"}" %>
      <% end %>
    </td>
    <td class="c2 vat">
      <%= link_to h(forum.name), forum_path(forum), :class => "title" %>
      <div class="posts">
        <%= number_with_delimiter(forum.topics.size) + " " + "#{I18n.t "site.general.topics"}"  %>, 
        <%= number_with_delimiter(forum.posts.size) + " " + "#{I18n.t "site.general.posts"}" %>
      </div>
      <p class="desc"><%= forum.description_html %>
        </p>
    </td>
    <td class="c3">
      <%= link_to "#{I18n.t "site.forums.index.edit"}", edit_forum_path(forum), :class => "tiny", :rel => "directory", :style => "float:right" if admin? %>
    </td>

    <td class="inv lp">
      <% if forum.recent_post %>
        <%= time_ago_in_words(forum.recent_post.created_at) %><br />
        <%= "#{I18n.t "site.general.by_user"}" + "<strong>#{h(forum.recent_post.user.display_name)}</strong>" %>
        <span>(<%= link_to "#{I18n.t "site.general.view"}", topic_path(:forum_id => forum, :id => forum.recent_post.topic_id, :page => forum.recent_post.topic.last_page, :anchor => forum.recent_post.dom_id) %>)</span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to "#{I18n.t "site.general.recent_post"}", all_posts_path %>
</p>

<% online_users = User.currently_online -%>
<% unless online_users.empty? %>
<div class="stats">
<div class="users">
<% unless online_users.empty? %>
<%= I18n.t "site.forums.index.users_online" %> <%= online_users.map { |u| link_to "<strong>#{h u.display_name}</strong>", user_path(u) } * ", " %><br />
<% end %>
</div>
</div>
<% end %>

