<h3><%= I18n.t "site.users._contact_info.users_profile" %></h3>

<p>
  <label for="display_name"><%= I18n.t "site.users._contact_info.display_name_title" %></label><br />
  <%= settings.text_field :display_name %>
</p>

<p>
  <label for="user_openid_url"><%= I18n.t "site.users.identity_url" %></label><br />
  <p class="help"><%= I18n.t "site.users.open_id_field" %>.</p>
  <%= settings.text_field :openid_url %>
</p>

<p>
  <label for="user_website"><%= I18n.t "site.users._contact_info.website_title" %></label><br />
  <%= settings.text_field :website %> 
	<span class="entryhelp">
	(<%= I18n.t "site.users._contact_info.without_http" %>)
	</span>
</p>

<p>
  <label for="user_bio"><%= I18n.t "site.users._contact_info.bio_title" %></label><br />
  <%= settings.text_area :bio, :rows => 10, :style => "width:99%" %>
</p>
