<p class="help"><%= I18n.t "site.users._form.login_field" %></p>

<p>
  <label for="user_login"><%= I18n.t "site.users.username" %></label><br />
  <%= form.text_field :login, :onkeypress => 'LoginForm.checkLogin(this)' %>
</p>

<p>
  <label for="user_email"><%= I18n.t "site.users.email" %></label><br />
  <%= form.text_field :email %>
</p>

<p>
  <p class="help">
    <%= I18n.t "site.users.open_id_field_extended" %>
  </p>
  <label for="user_openid_url"><%= I18n.t "site.users.identity_url" %></label><br />
  <%= form.text_field :openid_url %>
</p>

<p>
  <label for="display_name"><%= I18n.t "site.users._form.display_name_title" %></label><br />
  <%= form.text_field :display_name %>
</p>

<div id="password_fields">
	  <label for="user_password"><%= I18n.t "site.users.password_title" %></label><br />
	<p class="help"><%= I18n.t "site.users._form.password_field" %></span></p>

  <%= form.password_field :password %>
<span class="entryhelp">(<%= I18n.t "site.users._form.once" %>)</span><br />
  <%= form.password_field :password_confirmation %>
<span class="entryhelp">(<%= I18n.t "site.users._form.and_then_again" %>)</span>
  <%= hidden_field_tag :to, params[:to] unless params[:to].blank? %>
</div>