
<h3><%= I18n.t "site.users._settings.basics_title" %></h3>


<% if not @user.valid? and @user.errors.on(:login) %>

<p>
  <label for="login"><%= I18n.t "site.users.username" %></label></p>
  <p class="help">
    <strong><%= I18n.t "site.users._settings.change_login" %>.</strong>
    <%= I18n.t "site.users._settings.login_field" %>.
  </p>
<p>
  <%= settings.text_field :login %>
</p>
<% end %>

<p>
  <label for="user_email"><%= I18n.t "site.users.email" %></label><br />
  <%= settings.text_field :email %>
</p>

<div>
  <label for="user_password"><%= I18n.t "site.users.password_title" %></label><br />
  <p class="entryhelp" style="margin-top:0.5em;"><%= I18n.t "site.users._settings.password_field" %></p>
  <%= settings.password_field :password, :size => 16 %>
  <span class="entryhelp">(<%= I18n.t "site.users._settings.once" %>)</span><br />
  <%= settings.password_field :password_confirmation, :size => 16 %>
  <span class="entryhelp">(<%= I18n.t "site.users._settings.and_again" %>)</span>
</div>
