<% content_for :right do %>

<h5><%= I18n.t "site.users.edit.avatars_title" %></h5>

<p><%= I18n.t "site.users.edit.gravatar_notice", :gravatar =>  %(<a href="http://www.gravatar.com/">gravatar.com</a>) %></p>

<% end %>

<h1><%= I18n.t "site.users.edit.settings_title" %></h1>

<p class="subtitle"><%= I18n.t "site.users.edit.for_user", :user => @user.display_name %>
	<% if @user.login!=@user.display_name %>
	(<%= @user.login %>)
	<% end %>
	</p>

<%= error_messages_for :user %>

<% form_for :user, :url => user_path(@user), :html => { :method => :put } do |f| -%>
  <%= render :partial => "settings", :object => f %>
  <p><%= submit_tag I18n.t "site.users.edit.change_email_or_password", :or => link_to((I18n.t "site.general.cancel").to_s, "/") %></p>
<% end -%>

<br />

<% form_for :user, :url => user_path(@user), :html => { :method => :put } do |f| -%>
  <%= render :partial => "contact_info", :locals => { :settings => f } %>
  <p><%= submit_tag I18n.t "site.users.edit.update_profile", :or => link_to( (I18n.t "site.general.cancel").to_s, "/") %></p>
<% end -%>