<% @page_title = @user.display_name -%>

<% content_for :right do %>
<% if admin? %>
<% form_for :user, :url => admin_user_path(@user), :html => {:class => "xdialog"} do |f| -%>
  <h6><%= I18n.t "site.users.show.admin_and_moderation" %></h6>

  <% unless @user.forums.empty? -%>

	<p><%= I18n.t "site.users.show.remove_moderated_forum" %></p>

  <ul class="flat">
  <% @user.forums.find(:all, :select => "#{Forum.table_name}.*, #{Moderatorship.table_name}.id as moderatorship_id").each do |forum| -%>
    <li>
      <%#= link_to forum.name, forum_path(forum), :class => "hidden" %>
      <%#= link_to 'remove', moderator_path(@user, forum.moderatorship_id), :method => :delete %>
      <%= link_to forum.name, user_moderator_path(@user, forum.moderatorship_id), :method => :delete, :confirm => "#{I18n.t "site.users.show.remove_user_as_moderator"} #{forum.name}?" %>
    </li>
  <% end -%>
  </ul>
  <% end -%>

  <p>
	<label><%= 'Add as moderator'[] %></label><br />
	<select name="moderator">
    <option value="-"></option>
    <%= options_from_collection_for_select(Forum.find(:all, :order => 'position') - @user.forums, "id", "name") %>
  </select></p>

  <p><label><%= f.check_box :admin %> <%= I18n.t "site.users.show.user_administrador" %></label></p>

  <p><%= submit_tag I18n.t "site.general.save" %></p>
<% end -%>
<% end -%>
<% end %>

<p style="float:right;"><%= avatar_for @user, 80 %></p> 

<h1><%=h @user.display_name %> </h1>

<p class="subtitle">
  <%= feed_icon_tag @user.display_name, formatted_user_posts_path(:user_id => @user, :format => :rss) %>
  <span>
    <%= number_with_delimiter(@user.topics.size) + " " + (I18n.t "site.general.topics").to_s %>, 
    <%= number_with_delimiter(@user.posts.size) + " " + (I18n.t "site.general.posts").to_s %>
    (<%= I18n.t "site.users.show.view" %> <%= link_to "#{I18n.t "site.users.show.view_all"}", user_posts_path(@user) %> | 
    <%= link_to "#{I18n.t "site.users.show.monitored"}", monitored_posts_path(@user) %> <%= I18n.t "site.general.posts" %>)<br />
  </span>
</p>

<%= @user.bio_html %>

<% unless @user.website.blank? -%>
<p><strong><%= I18n.t "site.users.show.website_title" %></strong> <%= white_list link_to(@user.website.gsub("http://",""), "http://" + @user.website.gsub("http://","")) %>
<% end -%>
<p><%= I18n.t "site.users.show.user_since" %> <%= @user.created_at.to_date.to_s :long %></p>

